* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: azure;
    padding: 8px 25px;
    transition: all 1s ease forwards;
}

.navbar ul li a:hover{
    background-color: azure;
    color: midnightblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#main {
    display: flex;
    flex-direction: column;
    height: 900px;
    justify-content: center;
    align-items: center;
    color: azure;
}

#main:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: url(./img/Cover.JPG) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8px;
}

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
}

.header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 40px 0px;

}

.butt {
    padding: 5px 20px 5px;
    background-color: transparent;
    border: 2px solid azure;
    color: azure;
    outline: none;
    transition: 0.6s ease forwards;
    font-size: 24px;
}

.butt:hover {
    cursor: pointer;
    background-color: azure;
    color: midnightblue;
    box-shadow: 0 0 5px azure, 0 0 10px azure, 0 0 5px azure;
    font-weight: bold;
}



#Intro {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;

}

#portrait{
    display: flex;
}

#portrait img{
    width: 1000px;
    height: 400px;
}

#about{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 15px;
}

#about h2 {
    font-size: 32px;
    margin-bottom: 20px;
}

#portfolio {
    display: flex;
    flex-direction: column;
    background-color: midnightblue;
    color:azure;
    align-items: center;
    padding: 20px;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;  
}

.projects img{
    width: 360px;
    height: 240px;
    margin: 20px;
}

