* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: midnightblue;
    position: sticky;
    top: 0;
}

.navbar ul{
    display: flex;
    list-style: none;
    margin: 20px 0px;
}

.navbar ul li{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 16px;
    font-weight: bold;
}

.navbar ul li a{
    text-decoration: none;
    color: azure;
    padding: 8px 25px;
    transition: all 1s ease forwards;
}

.navbar ul li a:hover{
    background-color: azure;
    color: midnightblue;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}


#main {
    display: flex;
    flex-direction: column;
    background-color: black;
    height: 900px;
    justify-content: center;


}

#main:before{
    content:"";
    position: absolute;
    top: 0;
    right: 0;
    background: url(.img/Cover.JPG) no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: 0.8px;


}